// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

@font-face {
    font-family: 'instagramfont';
    src: url('../fonts/InstagramFont.otf') format('opentype');
}

body {
    font-family: 'TwojaCzcionka', sans-serif;
}

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

//tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;
