// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

@font-face {
    font-family: 'instagramfont';
    src: url('/public/fonts/instagramFont.otf') format('opentype');
}


#MoreDialog::backdrop {
    backdrop-filter: blur(2px) sepia(20%) saturate(2) contrast(90%);  /* Apply blur effect */
    opacity: 0.7;
}

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

//tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;
